manifest {
    name = "My Single-Cell QC Pipeline"
    description = "Runs QC per sample and then concatenates results into a single dataset"
    author = "Your Name"
    version = "1.0.0"
}
params {
    samplesheet = null
    outdir = 'results'
    batch_col = 'batch'
}

conda.enabled = true
conda.cacheDir = "/group/testa/Users/mazen.khaddour/.nextflow-conda"

process {
    executor = 'local'
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    conda {
        conda.enabled = true
    }
}
