params {
    samplesheet = null
    outdir = 'results'
    batch_col = 'batch'
}

conda.enabled = true
conda.cacheDir = "$HOME/.nextflow-conda"

process {
    executor = 'local'
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    conda {
        conda.enabled = true
    }
}
